  .toptop {
      scroll-behavior: smooth;
      position: fixed;
      bottom: 20px;
      right: 20px;
      background: rgba(30, 30, 30, 0.37);
      color: #55aa4e;
      padding: 8px 14px;
      border-radius: 8px;
      font-weight: bold;
      text-decoration: none;
      display: none;
      z-index: 999;
  }

  .shell-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 1.5rem;
      padding: 1rem;
  }

  .shell-card {
      background-color: #1e1e1e;
      border: 1px solid #55aa4e;
      border-radius: 8px;
      box-shadow: 0 4px 10px rgba(181, 232, 83, 0.2);
      overflow: hidden;
      display: flex;
      flex-direction: column;
  }

  .shell-card:hover,
  .shell-card:active {
      background-color: rgba(30, 30, 30, 0.67);
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 0 4px 10px rgba(204, 204, 204, 0.5);
  }

  .shell-card img {
      width: 100%;
      height: auto;
      object-fit: cover;
      /* Atau contain tergantung kebutuhan */
      cursor: -webkit-zoom-in;
      cursor: zoom-in;
  }

  .name {
      text-align: center;
  }

  .shell-card h2 {
      margin: 10px;
      color: #55aa4e;
  }

  .shell-card .info {
      padding: 0 100px 10px 10px;
      font-size: 14px;
      color: #ccc;
  }

  .shell-card .info .size {
      font-size: 14px;
      font-weight: bold;
      color: #636c72;
  }

  .shell-card a {
      margin: 0 10px 10px 10px;
      color: #55aa4e;
      text-decoration: none;
  }

  .shell-card a:hover,
  .shell-card a:active {
      color: #ccc;
      text-decoration: underline;
  }

  @media (max-width: 480px) {
      .shell-container {
          grid-template-columns: 1fr;
      }
  }

  @media (max-width: 768px) {
      .shell-container {
          grid-template-columns: 1fr;
      }
  }