<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/static/css/static.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

    {% seo %}
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <a id="a-title" href="{{ '/' | relative_url }}">{{ site.title | default: site.github.repository_name }}</a>
                <span>{{ site.description | default: site.github.project_tagline }}</span>
                <span>
                    <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
                    <a href="https://adilhyz.github.io/" class="btn btn-github">Blog</a>
                </span>
            </div>
        </nav>
    </header>

    <div class="container">
        <section id="main_content">
            {{ content }}
        </section>
    </div>
</body>
<script>
    const btn = document.getElementById('toTopBtn');
    window.onscroll = () => {
        btn.style.display = (window.scrollY > 300) ? 'block' : 'none';
    };

    btn.addEventListener('click', (e) => {
        e.preventDefault();
        window.scrollTo({
            top: 0,
            behavior: 'smooth'
        });
    });
</script>


</html>