{%- comment -%}
Analytics
{%- endcomment -%}

<!-- Google Analytics (GA4) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-32DSNF8QZY"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'G-32DSNF8QZY');
</script>

<!-- Umami Analytics -->
<script async defer src="https://cloud.umami.is/script.js" data-website-id="40753570-2c69-4a05-8fb7-13f0b8163a58">
</script>